provider = "openshift"
proxy_prefix = "/oauth"
http_address = ""
https_address = "127.0.0.1:8443"
tls_cert_file = "/etc/oauth-proxy/tls.crt"
tls_key_file = "/etc/oauth-proxy/tls.key"
client_id = "system:serviceaccount:infrapad-local:infrapad-oauth-proxy"
client_secret_file = "/etc/oauth-proxy/client-secret"
cookie_secret_file = "/etc/oauth-proxy/cookie-secret"
cookie_secure = true
cookie_httponly = true
openshift_ca = ["/etc/oauth-proxy/cluster-ca.crt"]
login_url = "@AUTHORIZATION_ENDPOINT@"
redeem_url = "@TOKEN_ENDPOINT@"
validate_url = "@API_URL@/apis/user.openshift.io/v1/users/~"
redirect_url = "https://localhost:8443/oauth/callback"
upstreams = ["@INFRAPAD_AUTH_UPSTREAM@"]
request_logging = true
pass_user_headers = true
pass_access_token = false
skip_provider_button = true
email_domains = "*"
